/**
 * Set up your page's identity by defining fonts, colors and themes
 */

/*** theme ***/
@import "./Shipyard/origin.scss";

:root {
    /*** fonts ***/
    --base-font: "Raleway", sans-serif;
    --heading-font: "Krona One", sans-serif;

    /*** colors ***/
    --primary: light-dark(#09f, #09f);
    --secondary: light-dark(#f90, #f90);
    --tertiary: light-dark(#8569de, #8569de);
}
