@use "_base.scss" as *;

/******************* attributes *******************/

.bordered {
    border: 2px solid currentColor;
    box-sizing: border-box;
}

.with-bottom-separator {
    border-bottom: 1px solid var(--fg-lite);
}

.marginned {
    margin: 1em 2em;
}

.padded {
    padding: 1em 2em;

    &.small {
        padding: 0.5em 1em;
    }
}

.rounded {
    border-radius: 0.75em;
}

.shaded {
    box-shadow: 0 0 0.75em var(--shadow);
}

.backdropped {
    background-color: var(--bg-lite);
}

/******************* theme *******************/

.button {
    @extend .padded, .rounded, .padded, .small, .interactive;
    @extend .accent, .bordered, .primary;

    & a {
        text-decoration: none;
    }

    &:hover {
        @extend .background;
    }
}

.card {
    @extend .backdropped;
    @extend .padded, .rounded;

    & .title-wrapper {
        @extend .flex, .right, .middle;
        @extend .with-bottom-separator;

        justify-content: space-between;
        flex-wrap: nowrap;
    }
}

header {
    @extend .flex, .right, .middle, .marginned, .padded, .rounded;
    @extend .backdropped;

    justify-content: space-between;

    & .title-wrapper {
        @extend .flex, .right, .middle;
    }

    & .nav-wrapper {
        @extend .flex, .right, .middle;
    }

    & #auth-btns {
        @extend .flex, .right, .middle;
    }

    & h1 {
        margin: 0;
        font-size: 1.2em;
    }
}

/******************* transitions *******************/

.v-enter-active,
.v-leave-active {
    transition: opacity 0.3s ease-out;
}
.v-enter-from,
.v-leave-to {
    opacity: 0;
}
