@import "./_base.scss";

/******************* attributes *******************/

.bordered {
    border: 2px solid currentColor;
    box-sizing: border-box;
}

.padded {
    padding: 0.5em 1em;

    &.large {
        padding: 1.5em 2em;
    }
}

.rounded {
    border-radius: 0.75em;
}

.shaded {
    box-shadow: 0 0 0.75em var(--shadow);
}

.backdropped {
    background-color: var(--bg-lite);
}

/******************* theme *******************/

.card {
    @extend .backdropped;
    @extend .padded;
}

header {
    @extend .flex, .right, .middle, .padded;
    @extend .backdropped;

    & .title-wrapper {
        @extend .flex, .right, .middle;
    }

    & .nav-wrapper {
        @extend .flex, .right, .middle;
    }
}
