:root {
    --fg: light-dark(black, white);
    --fg-lite: light-dark(#777, #aaa);
    --bg: light-dark(#fcfcfc, #111);
    --bg-lite: light-dark(#bbb, #666);
    --bg-ghost: light-dark(#ffffff55, #00000055);

    --white: white;
    --black: #1c1c1c;
    --shadow: #00000055;

    --success: #07e33d;
    --error: rgb(215, 61, 61);
    --danger: rgb(255, 107, 8);

    --hot: rgb(255, 107, 8);
    --cold: rgb(8, 107, 255);

    --font-size: 12px;
    --margin-size: 1em;
}

/******************** discard existing *******************/

a {
    /* text-decoration: none; */
    color: inherit;
}

button {
    border: none;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

input, select, textarea {
    background: none;
    border: none;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding: 0;

    &:focus {
        outline: none;
    }
}

i {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0.75em 0 0.5em;
}

.choices {
    margin-bottom: 0 !important;
    font-size: var(--font-size) !important;

    & .choices__inner {
        background: none !important;
        border: none !important;
        min-height: unset !important;
        padding: 0 !important;
        font-size: inherit !important;
    }

    & .choices__input,
    & .choices__list--dropdown {
        font-size: inherit !important;
    }
    & .choices__input {
        background-color: transparent !important;
    }
    & .choices__list--dropdown {
        background-color: var(--bg) !important;
    }

    &[data-type="select-one"] .choices__input {
        border-color: var(--tertiary) !important;
    }

    & .is-highlighted {
        background-color: var(--tertiary-ghost) !important;
    }

    & .choices__button,
    & .choices__list--multiple .choices__item {
        background-color: var(--tertiary) !important;
    }
}

[role="dummy"] {
    & > ol,
    & > p,
    & > ul {
        margin: 0.5em 0;
    }

    & > ol,
    & > ul {
        padding-left: 1.25em;
    }
}

/******************** layout *******************/

body, #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/******************** fonts *******************/

body {
    font-family: var(--base-font);
    font-size: var(--font-size);

    & h1, & h2, & h3, & h4, & h5, & h6 {
        font-family: var(--heading-font), sans-serif;
    }
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

.mono {
    font-family: var(--mono-font);
}

/******************** colors *******************/

body {
    color: var(--fg);
    background-color: var(--bg);
}

.accent {
    color: var(--accent-color);

    &.background {
        background-color: var(--accent-color);
        color: var(--white);
    }
    &.bordered {
        border-color: var(--accent-color);
    }
    &.button {
        color: var(--accent-color);

        &.background {
            color: var(--white);
        }
    }

    &.primary {
        --accent-color: var(--primary);
    }
    &.secondary {
        --accent-color: var(--secondary);
    }
    &.tertiary {
        --accent-color: var(--tertiary);
    }
    &.success {
        --accent-color: var(--success);
    }
    &.danger {
        --accent-color: var(--danger);
    }
    &.error {
        --accent-color: var(--error);
    }
    &.hot {
        --accent-color: var(--hot);
    }
    &.cold {
        --accent-color: var(--cold);
    }
}

.ghost {
    opacity: 0.5;
}

/******************** attributes *******************/

.always-light {
    color: var(--white) !important;
}

.disabled, :disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed !important;
}

.hidden {
    display: none !important;
}

span.large {
    font-size: 1.5em;
}

.placeholder {
    background: repeating-linear-gradient(-45deg, var(--bg-lite), var(--bg-lite) 10px, var(--tertiary) 10px, var(--tertiary) 20px);
}

.stick-top {
    position: sticky;
    top: 1em;
    z-index: 99;
}

/******************** animations *******************/

.animatable, .interactive {
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.interactive {
    cursor: pointer;

    &.highlight:hover {
        box-shadow: 0 0 1em var(--shadow);
    }
    &.shift-right:hover {
        translate: 0.75em;
    }
    &.zoom:hover {
        scale: 1.5;
    }
}
@media (prefers-reduced-motion: reduce) {
    .animatable, .interactive {
        transition: none;
    }
}

/******************** components *******************/

a.button, a:has(> .tile), a:has(> .full-width) {
    text-decoration: none;
}

.alert {
    position: fixed;
    top: calc(-5 * 1.5em);
    left: 50%;
    translate: -50%;
    z-index: 1000;

    background-color: var(--bg);

    &.in {
        top: 1.5em;
    }
}

.banner.full-width {
    position: relative;
    overflow: hidden;

    & img {
        width: 100vw;
        max-width: 1280px;
        display: block;
        margin: 0 auto;
        mask-image: linear-gradient(to right, transparent, black 5em, black calc(100% - 5em), transparent);
    }
}

.chart {
    overflow-x: auto;

    & > .title {
        @extend .flex, .right, .middle, .spread;

        & > [role="title-container"] {
            @extend .flex, .right, .middle;
        }
    }

    & > .data {
        &.column {
            @extend .grid;

            grid-auto-flow: column !important;
            grid-template-columns: unset !important;
            grid-template-rows: 1fr 2em;

            & > .label {
                text-align: center;
            }
            & > .value-wrapper {
                height: 10em;
                align-content: end;

                & > .value {
                    @extend .accent, .background, .tertiary;

                    position: relative;

                    & > .value-label {
                        position: absolute;
                        bottom: calc(100% + 0.5em); left: 0; right: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
}

code, pre {
    font-family: var(--mono-font);
    background-color: var(--bg-lite);
    border-radius: 0.5em;
}

[role="copyright"] {
    & .icon {
        --icon-size: 1em;
        vertical-align: middle;
    }
}

#corner-logo {
    position: fixed;
    left: 1em; top: 1em;
    z-index: 1000;
}

.flex {
    display: flex;
    flex-wrap: wrap;

    &.right {
        flex-direction: row;
    }
    &.down {
        flex-direction: column;

        & > * {
            margin: 0;
        }
    }

    &.spread {
        &.and-cover > * {
            flex-grow: 1;
        }
    }

    &.nowrap {
        flex-wrap: nowrap;
    }

    & > .pin-right {
        margin-left: auto;
        text-align: right;
    }
}

.grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(var(--col-count), 1fr);
    align-items: flex-start;

    &.right {
        grid-auto-flow: column;
        grid-template-columns: none;
        grid-template-rows: repeat(var(--col-count), 1fr);
    }
}

hr {
    border: 1px solid var(--bg-lite);
    margin: 1em 2em;
}

.flex, .grid {
    gap: 0.75em;

    &.big-gap {
        gap: 1.2em;
    }
    &.no-gap {
        gap: 0;
    }

    &.center {
        justify-content: center;
    }
    &.middle {
        align-items: center;
    }
    &.spread {
        justify-content: space-between;
    }
}

header {
    position: relative;
}

.icon {
    --icon-size: 1.5em;
    width: var(--icon-size);
    height: var(--icon-size);
    vertical-align: -0.4em;

    &.large {
        height: 3em;
    }

    body.dark &.invert-when-dark {
        filter: invert(1);
    }
}

.loader {
    @extend .accent, .primary;

    font-size: 7.5em;
    text-align: center;
    position: relative;

    & > .logo {
        @extend .ghost;

        position: absolute;
        width: 100%; height: 100%;
        left: 0; right: 0;
        scale: 0.5;
        animation: pulse 1.5s ease-in-out infinite alternate;
    }

    & > .icon {
        animation: rotate 1s ease-in-out infinite;
    }

    &.horizontal {
        & > .logo {
            scale: 2;
        }

        & > .icon {
            @extend .accent, .background, .primary;
            display: block;
            height: 0.6rem; width: 0%;
            animation: zip 1.5s ease-in-out infinite;
        }
    }
}
@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
@keyframes pulse {
    to {
        transform: scale(1.1);
        opacity: 1;
    }
}
@keyframes zip {
    0% {
        width: 0%;
        margin-left: 0%;
    }
    50% {
        width: 100%;
        margin-left: 0%;
    }
    100% {
        width: 0%;
        margin-left: 100%;
    }
}

.logo {
    height: 4em;
    vertical-align: middle;
}

#lookup-container {
    position: relative;

    & table {
        text-align: left;
    }

    & .input-container {
        padding: 0;
    }

    & input[type="radio"] {
        margin: 0;
    }
}

.line-banner {
    text-align: center;

    &.large {
        height: 300px;
    }

    & img {
        max-height: 100%;
    }
}

main {
    flex-grow: 1;
}

#menu {
    @extend .flex, .right, .middle;

    justify-content: right;
    align-content: center;
    // position: absolute;
    // top: 0; bottom: 0; left: 0; right: 0;

    // --bg-gradient-size: 5em;
    // background: var(--bg);
}

#modal {
    @extend .flex, .down, .center, .middle;

    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%; height: 100%;
    background-color: var(--shadow);
    z-index: 1000;
    backdrop-filter: blur(0.5em);

    & > #modal-card {
        --margin: 0.5em;
        margin: var(--margin);
        max-height: calc(100vh - 2 * var(--margin));
        overflow-y: auto;
    }
}

[role="pagination"] {
    @extend .flex, .right, .center, .middle;

    & [role="pages"] {
        text-align: center;
    }

    & [role="pages-description"] {
        text-align: center;
    }
}

.phase-bar {
    & > [role="bars"] {
        display: grid;
        --bar-size: 1em;
        grid-template-columns: repeat(var(--total), 1fr);
        margin: 0.2em;
        column-gap: calc(var(--bar-size) * 1.5);
        padding: 0 0 0 calc(var(--bar-size) / 2);

        & > div {
            color: var(--bg-lite);
            background-color: currentColor;
            height: var(--bar-size);
            position: relative;
            border-radius: 0;

            &::before, &::after{
                content: "";
                position: absolute;
                border: calc(var(--bar-size) / 2) solid transparent;
                box-sizing: border-box;
                width: var(--bar-size);
                height: var(--bar-size);
            }
            &::before {
                left: calc(-1 * var(--bar-size));
                border-top-color: inherit;
                border-right-color: inherit;
                border-bottom-color: inherit;
            }
            &::after {
                right: calc(-1 * var(--bar-size));
                border-left-color: inherit;
            }

            &:first-child::before {
                border: none;
                background-color: currentColor;
            }
            &:last-child::after {
                border: none;
                background-color: currentColor;
                right: calc(-1 * var(--bar-size) / 2);
            }
        }

        & .highlighted {
            color: var(--highlight-color);
        }
    }

    & > [role="label"] {
        @extend .flex, .center, .middle;

        color: var(--highlight-color);
    }
}

.progress-bar {
    @extend .animatable;

    width: 100%;
    background: linear-gradient(to right, var(--primary) var(--progress), var(--bg-lite) var(--progress));
    text-align: center;
}

search {
    flex-grow: 1;

    & > form {
        background-color: var(--bg);
        border: 2px solid var(--secondary);
        grid-template-columns: 1fr auto !important;
    }

    & button {
        border-radius: 2em !important;
        padding: 0.5em;
    }
}

.section {
    --eb-space: 0.5em;
    --eb-border: 1px solid var(--bg-lite);

    & > .header {
        padding-bottom: var(--eb-space);
        margin-bottom: var(--eb-space);
        border-bottom: var(--eb-border);

        & > .actions {
            justify-content: end;
            flex-grow: 1;
        }
    }

    & > .contents {
        border-radius: 0;
    }

    & > [role="section-extender"] {
        @extend .flex, .right, .center, .middle;
    }
}

@media screen and (max-width: 550px){
    .grid > .extendo-block {
        align-self: auto;
    }
}

[role="shipyard-version"] {
    @extend .ghost;
}

.stagger {
    --stagger-index: 0;
    transition:
        all 0.3s ease-out 0s,
        opacity 0.3s ease-out calc(0.15s * var(--stagger-index)),
        translate 0.3s ease-out calc(0.15s * var(--stagger-index));

    @starting-style {
        opacity: 0;
        translate: 0 2em;
    }
}

.stat-tile {
    @extend .flex, .down, .center, .middle, .no-gap;

    flex-direction: column-reverse;

    & > [role="value"] {
        font-family: var(--heading-font);
        font-size: 1.75em;
        font-weight: bold;

        & > small {
            @extend .ghost;
        }
    }
}

table {
    &.scrollable {
        display: block;
        max-width: fit-content;
        overflow-x: auto;
    }

    &.tight {
        & td, & th {
            max-width: 250px;
            overflow: hidden;
        }
    }

    & thead, & tfoot {
        & > tr > * {
            font-weight: bold;
            text-align: left;
        }
    }

    & tr:hover {
        background-color: var(--bg-lite);
    }

    & .button {
        padding: 0;
    }

    & input:focus {
        color: var(--primary);
    }
}

#theme-loader {
    /* this has to be hidden if styles are loaded -- see base view */
    display: none !important;
}

.thumbnail {
    max-width: 12em;
}

.tile {
    background-color: var(--bg);

    &.accent.background {
        color: var(--white);
    }

    &.activated {
        border-color: var(--primary)
    }

    & .button.expanded {
        rotate: 180deg;
    }

    & .contents {
        &.scrollable {
            overflow-y: auto;
            max-height: 300px;
        }
    }
}

#toast {
    opacity: 0;
    border-color: currentColor;
    user-select: none;

    &.success {
        color: var(--success);
    }
    &.danger {
        color: var(--danger);
    }
    &.error {
        color: var(--error);
    }

    &.visible {
        opacity: 1;
    }
}

/******************** mobile *******************/

@media screen and (max-width: 960px) {
    .grid {
        &.but-halfsize-down {
            display: flex;
            flex-direction: column;
        }

        &.col3 {
            &.but-halfsize-2 {
                --col-count: 2;
            }
        }
    }

    .side-content-container {
        & > .content:last-child {
            border-left: none;
            border-top: 2px solid var(--bg-lite);
        }
    }
}

@media screen and (max-width: 550px) {
    .flex.right, .grid {
        &.but-mobile-down {
            display: flex;
            flex-direction: column;
            align-items: initial;
        }

        &.center, &.middle {
            &.but-mobile-reset {
                justify-content: initial;
                align-items: initial;
            }
        }

        &.nowrap {
            &.but-mobile-wrap {
                flex-wrap: wrap;
            }
        }
    }

    .flex.down {
        &.but-mobile-right {
            flex-direction: row;
        }
    }

    .banner.full-width {
        height: auto;

        & img {
            width: 100%;
        }
    }

    .pin-right.but-mobile-reset {
        margin-left: 0;
    }

    search {
        width: 100%;
    }

    .stick-top.but-mobile-reset {
        position: initial;
    }
}

/******************** misc *******************/

#wpww-tag {
    @extend .animatable, .interactive, .zoom;

    --size: 1em;

    display: inline-block;
    width: var(--size);
    height: var(--size);
    vertical-align: middle;
    background: linear-gradient(
        135deg,
        #09f,
        #84f,
        #f90
    );
    mask-image: url("https://wpww.pl/pics/custom_icons/logo_blue.svg");
    mask-position: center;
    mask-repeat: no-repeat;
}
